body{
    position: fixed;
    top: 0;
}

.header-ttl{
    color: navy;
}


.header-nav-item{
    list-style: none;
    float: right;
    padding: 5px;
    position: relative;
    top: -70px;
}

.img{
    float: right;
    position: relative;
    top: -60px;
    left: 420px;
    z-index: 10;
    transform: scale(0.8);

}

.letter{
    float: left;
    position: relative;
    top: -300px;
    font-size: 50px;
}

.background-color{
    background-color: blue;
    float: left;
    width: 1000px;
    height: 90px;
    position: relative;
    top: -200px;
    right: 350px;
    padding:40px
}
